@import url("https://fonts.googleapis.com/css2?family=Sono:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: #333333;
}

body {
  margin: 0px;
}

.head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
}

.nav-bar {
  width: 18rem;
  height: 100vh;
  position: fixed;
  background-color: #9b9595;
  border: solid #9b9595 10px;
}

.link {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

.logo {
  margin: 0px;
  margin-left: 30px;
  font-family: "Sono";
  font-size: 50px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.link {
  text-decoration: none;
}

.item {
  width: 100%;
  margin-bottom: 50px;
  margin-left: 10px;
}

.ctext {
  font-size: 25px;
  font-weight: bold;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: #080808;
}

.socialicons {
  display: flex;
  color: black;
  margin-left: 8px;
  margin-top: 150px;
  font-size: 25px;
  position: absolute;
  bottom: 10px;
}
.socialicons i {
  margin-left: 40px;
}

@media (max-width: 768px) {
  .nav-bar {
    width: 12rem;
    height: 100%;
  }

  .nav-list{
    margin-top:50px;
  }

  .logo {
    margin-top: 3px;
    margin-left: 25px;
    font-size: 30px;
  }
  
  .ctext {
    font-size: 15px;
    font-weight: bold;
    color: #442c2e;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .socialicons {
    display: flex;
    color: black;
    margin-left: 4px;
    margin-top: 150px;
    font-size: 25px;
    position: absolute;
    bottom: 0;
  }
  .socialicons i {
    margin-left: 20px;
  }
}

@media (max-width: 415px) {
  .ctext {
    visibility: hidden;
  }

  .logo {
    visibility: hidden;
  }

  .nav-list {
    margin-top: 20px;
  }

  .item {
    width: 100%;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .nav-bar {
    width: 5rem;
    height: 100%;
  }
  .socialicons {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 3px;
    margin-top: 60px;
  }
  .socialicons i {
    margin-bottom: 18px;
  }
}

.flexcontainer {
  display: flex;
}


.home {
  margin-left: 350px;
  margin-top: 100px;
}

.homeContent {
  display: block;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
}

.bar {
  background-color: #9b9595;
  text-align: center;
  height: 4rem;
  width: 100%;
  margin-left: 13rem;
  margin-top: auto;
  position: fixed;
  margin-bottom: auto;
  font-family: "Sono";
  font-size: 50px;
  overflow: hidden;
  top: 0%;
}
.homePic,
.aboutmyimage {
  display: block;
  width: auto;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.homeContent h1 {
  font-family: "Sono";
  font-size: 50px;
  margin-top: 20px;
}

.homeContent p {
  font-family: "Shadows Into Light";
}


.about {
  margin-top: 100px;

  margin-left: 350px;
}

.aboutmyimage {
  border-radius: 10px;
  margin-top: 30px;
  float: left;
  margin-right: 30px;
  margin-top: 10px;
}

.aboutH2 {
  font-family: "Sono";
  font-size: 50px;
}

.aboutP {
  font-family: system-ui;
  font-size: 18px;
}

.aboutResume {
  background: 35px #9b9595;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border: 3px #9b9595;
  border-radius: 10%;
  padding: 10px;
}

@media (max-width: 500px) {
  .about {
    margin-top: 50px;
  }
  .aboutH2 {
    font-family: "Sono";
    font-size: 20px;
  }
  .aboutP {
    font-family: system-ui;
    font-size: 10px;
  }
}

/* Previous Page CSS */

.previous {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  margin-left: 300px;
  flex-wrap: wrap;
}

.prevTag {
  position: relative;
  text-align: center;
  display: block;
  flex-direction: column;
  width: 100%;
  line-height: 45px;
  height: 45px;
  color: black;
  font-size: 30px;
  font-family: "Sono";
  text-decoration: none;
}

.prevCont {
  width: 100%;
  max-height: 45px;
  margin: 10px 40px;
  background: rgb(183, 181, 181);
  border-radius: 30px;
  overflow: hidden;
}

.prevCont:target {
  max-height: 100%;
}

.prevPara {
  font-size: 17px;
  font-family: "Times New Roman";
  padding: 5px 10px;
  font-weight: bold;
  color:black
}

.prevTag:after {
  content: "+";
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0px;
  text-align: center;
}

/* Project Page CSS */

.project {
  margin-top: 100px;
  margin-left: 350px;
}

.projectGrid {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 25px;
  height: auto;
  align-items: center;
  justify-items: center;
}

.projectBox {
  background-color: #fff;
  border: 2px double black;
  border-radius: 10px;
}

.projectImg1,
.projectImg2,
.projectImg3,
.projectImg4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 225px;
}
.projectImg1 {
  background-image: url("./images/covid.jpg");
}

.projectImg2 {
  background-image: url("./images/price.png");
}

.projectImg3 {
  background-image: url("./images/dbms.png");
}

.projectImg4 {
  background-image: url("./images/irc.png");
}

.projectContent {
  padding: 15px 10px;
  text-align: center;
}

.projectContent h2 {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Sono";
}

.projectContent p {
  margin: 15px 0px;
  font-size: 15px;
  font-family: "Times New Roman";
}

.gitBtn {
  width: 150px;
  background: black;
  color: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 6px;
  font-size: 17px;
  text-decoration: none;
  cursor: pointer;
}

/* Contact form page css */

.form {
  margin-top: 150px;
  margin-left: 350px;
}

.registration {
  max-width: 500px;
  padding: 35px 0px;
  border-radius: 10px;
  /* z-index: -1; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.registration {
  width: 100%;
  position: relative;
  margin: 30px auto 0 auto;
}

.heading {
  font-size: 30px;
  text-transform: uppercase;
  margin: 1em;
  text-align: center;
}

.formLabel {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.inputs_field {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1.2px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.formBtn {
  width: 80px;
  height: 40px;
  border-radius: 10%;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: grey;
  font-weight: bold;
}

@media (max-width: 768px) {
  .home,
  .previous,
  .project,
  .form {
    margin-left: 200px;
    margin-right: 1rem;
  }

  .about {
    margin-left: 200px;
    margin-right: 1rem;
    margin-top: 100px;
  }
  .bar {
    margin-left: 7rem;
    font-size: 30px;
  }
  .homePic,
  .aboutmyimage {
    width: auto;
    height: 200px;
  }
}

@media (max-width: 415px) {
  .home,
  .previous,
  .project,
  .form {
    margin-left: 80px;
    margin-right: 1rem;
  }
  .project {
    margin-right: 20px;
  }
  .about {
    margin-left: 100px;
    margin-right: 1rem;
    margin-top: 100px;
  }

  .bar {
    margin-left: 4.45rem;
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
  }
  .homePic {
    width: auto;
    height: 100px;
    margin-top: 5em;
  }

  .homeContent h1 {
    font-size: 20px;
  }
  .homeContent h2 {
    font-size: 15px;
  }
  .previous {
    width: 100%;
  }
}
